node_modules
.env
.env.*
!.env.example
.local
package-lock.json
dist
.DS_Store
apps/web/.next
apps/web/out
apps/api/dist
apps/api/.env
apps/api/.env.*
!apps/api/.env.example
packages/shared/dist
apps/git-service/tmp
apps/*/node_modules
apps/*/.next
apps/*/dist
apps/*/.turbo
apps/*/.DS_Store
apps/*/npm-debug.log*
apps/git-service/server
